
.card-title{
	margin: 0;
}
.card{
	width: 75%;
	margin: 0 auto;
	margin-top: 2%; 
}

.page-footer{
	margin-top:2%; 
}
.card-header{
	padding: 1%;
}

.legendItem{
	cursor:pointer;
}
.legendSymbol{
	margin: 2px;
	display: inline-block;
	background: rgb(31, 119, 180);
	width: 20px;
	height: 4px;
}

