.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.line2 {
  stroke: brown;
  stroke-width: 2;
  fill: none;
}

.line {
  stroke: steelblue;
  stroke-width: 2;
  fill: none;
}
