.axis {
  font: 10px sans-serif;
}

.axis path,
.axis line {
	fill: none;
	stroke: grey;
	stroke-width: 1;
	shape-rendering: crispEdges;
}

.line {
  /*stroke: blue;*/
  stroke-width: 2;
  fill: none;
}

.legend > .legend-box {
  fill:white;
  stroke:white;
  opacity:0.0;
}
