{% extends 'main/censo/base.html' %}
{% load static %}

{% block title%}DATA-CITY | DATOS{% endblock %}

{% block content %}
<div class="container">
	<div class="section">
		<p class="resclima-header">Importar archivo CSV</p>
		<!-- <h4 class="header">Importar archivo CSV</h4> -->
		<div class="card-action">
	    <button class="btn waves-effect waves-light green accent-6" type="button" onClick="window.location='/censo/create';"><i class="material-icons left">cloud_upload</i>Importar archivos</button>
	  </div>
		{% if object_list %}
		<table class="bordered">
			<tbody>
				<tr>
				{% for data in object_list %}
						<td>{{ data.id }} Datos cargados con éxito</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
    {% else %}
		<div class="wrapper">
			<div class="container">
				<p class="no-data">No hay datos para mostrar</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>
	<div style="height:135px;"></div>


{% endblock content %}
