{% extends 'simulation/base.html' %}
{% load static %}

{% block title%}RESCLIMA | SIMULACIONES{% endblock %}

{% block content %}
<div class="container">
	<div class="section">
		<h4 class="header"><!-- The Title for Simulation --></h4>
		<button class="btn waves-effect waves-light green accent-6" type="button" onClick="window.location='/simulation/output/1';"><i class="material-icons left">play_circle_filled</i>Run Simulacion</button>
		{% if object_list %}
		<table class="bordered">
			<tbody>
				<tr>
					{% for simulation in object_list %}
							<td class="td-resclima-user" style="font-family:monospace">{{ simulation.id }}</td>
							<td class="td-resclima-user-type" style="font-family:monospace">{{ simulation.name }}</td>
				</tr>
				{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="wrapper">
			<div class="container">
				<p>No hay simulaciones para mostrar</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>
	<div style="height:100px;"></div>


{% endblock content %}
