{% extends 'simulation/base.html' %}
{% load static %}

{% block title%}RESCLIMA | SIMULACIONES{% endblock %}

{% block content %}

<div class="section">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="card-panel">

				<div class="row">
					<!-- Simulation Form -->
					<form method="post" action="." enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<!-- HEADER -->
							<div class="input-field col s12 m12 l12">
							{% ifequal form.instance.pk None %}
								<!--Create-->
								<p class="resclima-header">Nueva simulacion</p>
							{% else %}
								<!--Update-->
								<p class="resclima-header">Editar simulacion</p>
							{% endifequal %}
							</div>
							<!-- Nombre de la simulacion -->
							<div class="input-field col s12 m12 l12">
								<label for="{{ form.name.id_for_label }}">Nombre</label>
								{{ form.name }}
							</div>
							<!-- Step -->
							<div class="input-field col s12 m12 l12">
								<label for="{{ form.step.id_for_label }}">Step</label>
								{{ form.step }}
							</div>
							<!-- Archivos de configuracion de red, rutas y otros [.xml, .netccfg, .polycfg] -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.file.id_for_label }}">Archivos de configuracion de red, rutas y otros [.xml, .netccfg, .polycfg]</label>
								<div class="div-field">{{ form.file }}</div>
							</div>
							<!-- Archivo de configuracion sumocfg -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.sumo_config.id_for_label }}">Archivo de configuracion [.sumocfg]</label>
								<div class="div-field">{{ form.sumo_config }}</div>
							</div>
						</div>
						{% ifequal form.instance.pk None %}
							<!--Create-->
							<button class="btn waves-effect waves-light green accent-6" type="submit" ><i class="material-icons left">cloud_done</i>Guardar y salir</button>
						{% else %}
							<!--Update-->
							<button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">check_circle</i> Guardar cambios y salir</button>
						{% endifequal %}
							<button class="btn waves-effect waves-light red accent-2" type="button" onClick="window.history.back();"><i class="material-icons left">cancel</i>Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
