{% extends 'simulation/base.html' %}
{% load static %}

{% block title%}RESCLIMA | SIMULACIONES{% endblock %}

{% block content %}

<div class="section">
	<div class="row">
		<div class="col s12 m12 l6">
			<div class="card-panel">

				<div class="row">
					<!-- Simulation Form -->
					<form method="post" action="." enctype="multipart/form-data">
						{% csrf_token %}
						<div class="row">
							<!-- HEADER -->
							<div class="input-field col s12 m12 l12">
							{% ifequal form.instance.pk None %}
								<!--Create-->
								<p style="font-family:monospace; font-weight: bold; margin-bottom: 15px;">NUEVA SIMULACION</p>
							{% else %}
								<!--Update-->
								<p style="font-family:monospace; font-weight: bold; margin-bottom: 15px;">EDITAR SIMULACION</p>
							{% endifequal %}
							</div>
							<!-- Nombre de la simulacion -->
							<div class="input-field col s12 m12 l12">
								<label for="{{ form.name.id_for_label }}">Nombre</label>
								{{ form.name }}
							</div>
							<!-- Step -->
							<div class="input-field col s12 m12 l12">
								<label for="{{ form.step.id_for_label }}">Step</label>
								{{ form.step }}
							</div>
							<!-- Mapa de la simulacion -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.net.id_for_label }}">Mapa de la simulacion</label>
								<div class="div-field">{{ form.net }}</div>
							</div>
							<!-- Rutas de buses -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.bus_rou.id_for_label }}">Rutas de buses</label>
								<div class="div-field">{{ form.bus_rou }}</div>
							</div>
							<!-- Rutas Alternas de buses -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.bus_rou_alt.id_for_label }}">Rutas Alternas de buses</label>
								<div class="div-field">{{ form.bus_rou_alt }}</div>
							</div>
							<!-- Archivo de viajes de buses -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.bus_trips.id_for_label }}">Archivo de viajes de buses</label>
								<div class="div-field">{{ form.bus_trips }}</div>
							</div>
							<!-- Rutas de motos -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.motorcycle_rou.id_for_label }}">Rutas de motos</label>
								<div class="div-field">{{ form.motorcycle_rou }}</div>
							</div>
							<!-- Rutas alternas de motos -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.motorcycle_rou_alt.id_for_label }}">Rutas alternas de motos</label>
								<div class="div-field">{{ form.motorcycle_rou_alt }}</div>
							</div>
							<!-- Archivo de viajes de motos -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.motorcycle_trips.id_for_label }}">Archivo de viajes de motos</label>
								<div class="div-field">{{ form.motorcycle_trips }}</div>
							</div>
              <!-- Rutas de carros -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.passenger_rou.id_for_label }}">Rutas de carros</label>
								<div class="div-field">{{ form.passenger_rou }}</div>
							</div>
							<!-- Rutas alternas de carros -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.passenger_rou_alt.id_for_label }}">Rutas alternas de carros</label>
								<div class="div-field">{{ form.passenger_rou_alt }}</div>
							</div>
							<!-- Archivo de viajes de carros -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.passenger_trips.id_for_label }}">Archivo de viajes de carros</label>
								<div class="div-field">{{ form.passenger_trips }}</div>
							</div>
							<!-- Archivo de configuracion de poligonos -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.poly_file.id_for_label }}">Archivo de configuracion de poligonos</label>
								<div class="div-field">{{ form.poly_file }}</div>
							</div>
							<!-- Archivo de configuracion de vista -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.view_file.id_for_label }}">Archivo de configuracion de vista</label>
								<div class="div-field">{{ form.view_file }}</div>
							</div>
							<!-- Archivo netccfg -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.net_config.id_for_label }}">Archivo netccfg</label>
								<div class="div-field">{{ form.net_config }}</div>
							</div>
							<!-- Archivo polycfg -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.poly_config.id_for_label }}">Archivo polycfg</label>
								<div class="div-field">{{ form.poly_config }}</div>
							</div>
							<!-- Archivo sumocfg -->
							<div class="input-field col s12 m12 l12">
								<label class="lable-file-field" for="{{ form.sumo_config.id_for_label }}">Archivo sumocfg</label>
								<div class="div-field">{{ form.sumo_config }}</div>
							</div>
						</div>
						{% ifequal form.instance.pk None %}
							<!--Create-->
							<button class="btn waves-effect waves-light green accent-6" type="submit" ><i class="material-icons left">cloud_done</i>Guardar y salir</button>
						{% else %}
							<!--Update-->
							<button class="btn waves-effect waves-light" type="submit"><i class="material-icons left">check_circle</i> Guardar cambios y salir</button>
						{% endifequal %}
							<button class="btn waves-effect waves-light red accent-2" type="button" onClick="window.history.back();"><i class="material-icons left">cancel</i>Cancelar</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock content %}
