  <li>
    <div class="collapsible-header"><i class="material-icons">insert_comment</i>Resumen de la Simulación</div>
    <div class="collapsible-body">
      <span id="simulation-summary">
        {% for data in simulation_summary %}
          {% for key, value in data.iteritems %}
          <span style="font-family:monospace; font-weight: bold;">{{ key }}: </span>
          <span>{{ value }}</span>
          <br>
          {% endfor %}
        {% endfor %}
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">cloud_circle</i>Emisiones</div>
    <div class="collapsible-body">
      <span id="simulation-emission">
        {% for data in simulation_emission %}
          {% for key, value in data.iteritems %}
            <span style="font-family:monospace; font-weight: bold;">{{ key }}: </span>
            <span>{{ value }}</span>
            <br>
          {% endfor %}
        {% endfor %}
      </span>
    </div>
  </li>
  <li>
    <div class="collapsible-header"><i class="material-icons">view_module</i>Vehículos</div>
    <div class="collapsible-body">
      <span id="simulation-trace">
        {% for data in simulation_trace %}
          {% for key, value in data.iteritems %}
            <span style="font-family:monospace; font-weight: bold;">{{ key }}: </span>
            <span>{{ value }}</span>
            <br>
          {% endfor %}
        {% endfor %}
      </span>
    </div>
  </li>
