{% extends 'simulation/base.html' %}
{% load static %}

{% block title%}RESCLIMA | SIMULACIONES{% endblock %}

{% block content %}

<div class="container">
	<div class="section">
		<h4 class="header"><!-- The Title for Simulation --></h4>
		{% if object_list %}
		<table class="bordered">
			<tbody>
				<tr>
					{% for simulation in object_list %}
							<td class="td-resclima-user" style="font-family:monospace">{{ simulation.id }}</td>
							<td class="td-resclima-user-type" style="font-family:monospace">{{ simulation.name }}</td>
					    <!-- Progress bar display -->
							<td>
								<div class='progress-wrapper'>
						      <div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
						    </div>
								<br>
						    <div id="progress-bar-message" style="font-family:monospace">Esperando que la simulacion comience...</div>
							</td>
				</tr>
					{% endfor %}
			</tbody>
		</table>
		{% else %}
		<div class="wrapper">
			<div class="container">
				<p>No hay simulaciones para mostrar</p>
			</div>
		</div>
		{% endif %}
	</div>
</div>
<div style="height:100px;"></div>

{% endblock content %}

{% block scripts_body %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script type="text/javascript">
  // JQuery
var progressUrl = "{% url 'celery_progress:task_status' task_id %}";
$(function () {
  CeleryProgressBar.initProgressBar(progressUrl)
});
</script>
{% endblock %}
