{% extends 'simulation/base.html' %}
{% load static %}
{% block styles %}
<link rel="stylesheet" href="{% static 'simulation/css/pace.min.css' %}" type="text/css">
{% endblock %}

{% block title%}RESCLIMA | SIMULACIONES{% endblock %}

{% block content %}

<div class="section">
	<div class="row">
		<!-- Left Side -->
		<div class="col s12 m12 l6">
			<p class="resclima-header">Simulacion en ejecucion</p>
			<!-- <h4 class="header">Simulacion en ejecucion</h4> -->
			<div class="card-panel">
				{% if object_list %}
					{% for simulation in object_list %}
						<div>{{ simulation.id }} {{ simulation.name }}</div>
						<div class='progress-wrapper'>
							<div id='progress-bar' class='progress-bar' style="background-color: #68a9ef; width: 0%;">&nbsp;</div>
						</div>
						<br>
						<div id="progress-bar-message">Esperando que la simulacion comience...</div>
					{% endfor %}
				{% else %}
				<div class="wrapper">
					<div class="container">
						<p>No hay simulaciones para mostrar</p>
					</div>
				</div>
				{% endif %}
			</div>
		</div>
		<!-- Right Side -->
		<div class="col s12 m12 l6">
			<p class="resclima-header">Resultados</p>
			<!-- <h4 class="header">Resultados</h4> -->
			<ul id="rewrite" class="collapsible">
				<li>
					<div class="collapsible-header"><i class="material-icons">insert_comment</i>Resumen de la Simulación</div>
					<div class="collapsible-body"><span id="simulation-summary">Una vez que la simulación haya terminado esta sección estará disponible.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">cloud_circle</i>Emisiones</div>
					<div class="collapsible-body"><span id="simulation-emission">Una vez que la simulación haya terminado esta sección estará disponible.</span></div>
				</li>
				<li>
					<div class="collapsible-header"><i class="material-icons">view_module</i>Vehículos</div>
					<div class="collapsible-body"><span id="simulation-trace">Una vez que la simulación haya terminado esta sección estará disponible.</span></div>
				</li>
			</ul>
		</div>
	</div>

</div>
<div style="height:100px;"></div>

{% endblock content %}


{% block scripts_body %}
<script src="{% static 'celery_progress/celery_progress.js' %}"></script>
<script src="{% static 'simulation/js/pace.min.js' %}"></script>
<script type="text/javascript">
  // JQuery
	var progressUrl = "{% url 'celery_progress:task_status' task_id %}";

	$(function () {



	  CeleryProgressBar.initProgressBar(progressUrl, {
			onSuccess: function () {
				$('#progress-bar').css('background-color', '#76ce60');
				$('#progress-bar-message').text('¡La simulacion ha terminado con éxito!');
				// Ejecutar AJAX Request
				// Loading data from server
	      $('#rewrite').html('').load("output/");
			},
			onError: function () {
				$('#progress-bar-message').text('Uh-Oh, ¡Algo salió mal!');
				$('#progress-bar').css('background-color', '#dc4f63');
			}
		})
	});
</script>
{% endblock %}
