{% extends 'main/base.html' %}
{% load static %}

{% block title%}RESCLIMA | PERFIL{% endblock %}

{% block content %}

<div id="main">
  <div class="wrapper">
  	<!-- START CONTAINER -->
    <div class="container">
      <div id="profile-page" class="section">

        <!-- PROFILE PAGE HEADER-->
        <div id="profile-page-header" class="card">
          <div class="card-image waves-effect waves-block waves-light">
          	<img class="activator" src="{% static 'main/images/14.png' %}" alt="user background">
	        </div>
          <figure class="card-profile-image">
        		<img src="{% static 'main/images/perfil.png' %}" alt="profile image" class="circle z-depth-2 responsive-img activator gradient-45deg-light-blue-cyan gradient-shadow">
          </figure>
          <div class="card-content">
            <div class="row pt-2">
              <div class="col s12 m3 offset-m2">
                <h4 class="card-title grey-text text-darken-4">{{ user.first_name }} {{ user.last_name }}</h4>
                <p class="medium-small grey-text">{{ user.institution }}</p>
              </div>
            </div>
      		</div>
        </div>

        <!-- 1. PROFILE PAGE CONTENT-->
        <div id="profile-page-content" class="row">
	        <div id="profile-page-sidebar" class="col s12 m4">
            <p class="resclima-header">Importar archivos</p>
        		<!-- <h4 class="header">Importar archivos</h4> -->
	          <ul id="profile-page-about-details" class="collection z-depth-1">
							<!-- Series de tiempo -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">timeline</i> Series de tiempo</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick='window.location="/series";'>Ir</button><br></div>
	              </div>
	            </li>
							<!-- Capas vectoriales -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">place</i> Capas vectoriales</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick='window.location="/vector";'>Ir</button><br></div>
	              </div>
	            </li>
							<!-- Capas raster -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">domain</i> Capas raster</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick='window.location="/raster";'>Ir</button><br></div>
	              </div>
	            </li>
	          </ul>
	        </div>
        </div>

				<!-- 2. PROFILE PAGE CONTENT-->
				<div class="row">
	        <div class="col s12 m4">
            <p class="resclima-header">Productos</p>
        		<!-- <h4 class="header">Productos</h4> -->
	          <ul class="collection z-depth-1">
            {% if request.user.user_type != 3 %}
              <!-- Productos -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">dashboard</i> Dashboard</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick="window.location='/dashboard';">Ir</button><br></div>
	              </div>
	            </li>
	          {% endif %}
	          {% if request.user.user_type == 3 %}
              <!-- Mis Productos -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">dashboard</i> Mis Productos</div>
	                {# <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick="window.location='/dashboard/{{request.user.username}}/';">Ir</button><br></div> #}
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick="window.location='/products';">Ver</button><br></div>
	              </div>
	            </li>
	          {% endif %}
	          </ul>
	        </div>
        </div>

        <!-- 3. PROFILE PAGE CONTENT-->
        {% if request.user.user_type != 3 %}
				<div class="row">
	        <div class="col s12 m4">
            <p class="resclima-header">Simuladores</p>
        		<!-- <h4 class="header">Simuladores</h4> -->
	          <ul class="collection z-depth-1">
              <!-- Simulaciones -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">video_label</i> Tráfico y movilidad</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light col s12" type="button" onClick="window.location='/simulation';">Ir</button><br></div>
	              </div>
	            </li>
	          </ul>
	        </div>
        </div>
        {% endif %}

        <!-- 2. PROFILE PAGE CONTENT-->

        {% if request.user.user_type == 1 %}
				<div class="row">
	        <div class="col s12 m4">
            <p class="resclima-header">Configuración</p>
        		<!-- <h4 class="header">Configuración</h4> -->
	          <ul class="collection z-depth-1">
              <!-- Configuración de RESCLIMA -->
	            <li class="collection-item">
	              <div class="row">
	                <div class="col s5"><i class="material-icons left">settings</i> Configuración</div>
	                <div class="col s7 right-align"><button class="btn waves-effect waves-light red accent-2 col s12" type="button" onClick="window.location='/user';">Ir</button><br></div>
	              </div>
	            </li>
	          </ul>
	        </div>
        </div>
        {% endif %}

      </div>
    </div>
  </div>
</div>
{% endblock content %}
