[Unit]
Description=Programa que obtiene los datos de las estaciones meteorlogicas SKY2
StartLimitIntervalSec=0


[Service]
Type=simple
ExecStart=/usr/bin/python /home/manager/RESCLIMA/StationScripts/Sky2/sky2.py
StandardOutput=null
Restart=always
RestartSec=10
Wants=postgresql.service
After=postgresql.service

[Install]
WantedBy=multi-user.target
Alias=sky2Adapter.service
