{% extends 'visualization/base.html' %}
{% load static %}

{% block title%}RESCLIMA | USUARIOS{% endblock %}

{% block content %}
<div class="section">
	<!--start container-->
	<div class="container">
		<div id="horizontal-card" class="section">
			<div class="row">
				<div class="col s12 m12 l6">
					<div class="row">
						<a class="btn waves-effect waves-light" href="{{request.META.HTTP_REFERER|escape }}"><i class="material-icons left">keyboard_backspace</i> Atrás</a>
						<div class="card-panel">
							<form method="post">
								{% csrf_token %}
								<h4>¿Quieres eliminar este usuario?</h4>
								<p>{{ object.first_name }} {{ object.last_name }}</p>
								<p>Si eliminas este registro, no podrás recuperarlo.</p>
								<br>
								<button class="btn waves-effect waves-light red accent-2" type="submit" ><i class="material-icons left">delete</i>Eliminar</button>
								<a class="btn waves-effect waves-light" href="{{request.META.HTTP_REFERER|escape }}"><i class="material-icons left">cancel</i> Cancelar</a>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>

	</div>
	<!--end container-->
</div>
{% endblock content %}
